---
layout: default
---

<h3 class="section-heading">About</h3>

{% include about/intro.html %}
{% include about/experience.html %}
{% include about/education.html %}
{% include about/expertise.html %}
{% include about/skills.html %}


<div id="selected-papers">
    <h4 class="subsection-heading color-main">Selected Papers <i class="bi bi-newspaper"></i></h4>
    <div class="paper-item mb-4">
        <div class="row">
            <div class="col-sm-4 d-none d-sm-block ">
                <img src="/assets/images/papers/biostec2021.png" style="width: 100%" />
            </div>
            <div class="col-sm-8">
                <div class="card" style="border: 0">
                    <div class="card-body" style="padding: 0">
                        <h5 class="card-title">Combining Registration Errors and Supervoxel Classification for Unsupervised Brain
                            Anomaly Detection</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Samuel B. Martins, Alexandre X. Falcão, Alexandru C. Telea</h6>
                        <p class="card-text"><i>Biomedical Engineering Systems and Technologies</i>, Springer International
                            Publishing, pp. 140–164, 2021.</p>
                        <button type="button" class="btn bg-main" style="padding: 0.3rem; font-size: 0.8rem; font-weight: 700;"><i
                                class="fas fa-solid fa-scroll"></i> Abstract</button>
                        <a href="https://link.springer.com/chapter/10.1007%2F978-3-030-72379-8_8" class="btn bg-main active"
                            role="button" aria-pressed="true" rel="nofollow noopener noreferrer" target="_blank"
                            style="padding: 0.3rem; font-size: 0.8rem; font-weight: 700;"><i class="fas fa-solid fa-book"></i>
                            Published version</a>
                        <div class="card" style="margin-top: 0.25em; display: none;">
                            <div class="card-body" style="text-align: justify;">
                                Automatic detection of brain anomalies in MR images is challenging and complex due to intensity
                                similarity
                                between lesions and healthy tissues as well as the large variability in shape, size, and location
                                among
                                different anomalies. Even though discriminative models (supervised learning) are commonly used for
                                this task,
                                they require quite high-quality annotated training images, which are absent for most medical image
                                analysis
                                problems. Inspired by groupwise shape analysis, we adapt a recent fully unsupervised
                                supervoxel-based approach
                                (SAAD)—designed for abnormal asymmetry detection of the hemispheres—to detect brain anomalies from
                                registration
                                errors. Our method, called BADRESC, extracts supervoxels inside the right and left hemispheres,
                                cerebellum, and
                                brainstem, models registration errors for each supervoxel, and treats outliers as anomalies.
                                Experimental
                                results on MR-T1 brain images of stroke patients show that BADRESC outperforms a
                                convolutional-autoencoder-based
                                method and attains similar detection rates for hemispheric lesions in comparison to SAAD with
                                substantially
                                fewer false positives. It also presents promising detection scores for lesions in the cerebellum and
                                brainstem.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="paper-item mb-4">
        <div class="row">
            <div class="col-sm-4 d-none d-sm-block ">
                <img src="/assets/images/papers/biostec2021.png" style="width: 100%" />
            </div>
            <div class="col-sm-8">
                <div class="card" style="border: 0">
                    <div class="card-body" style="padding: 0">
                        <h5 class="card-title">Combining Registration Errors and Supervoxel Classification for Unsupervised
                            Brain
                            Anomaly Detection</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Samuel B. Martins, Alexandre X. Falcão, Alexandru C. Telea
                        </h6>
                        <p class="card-text"><i>Biomedical Engineering Systems and Technologies</i>, Springer International
                            Publishing, pp. 140–164, 2021.</p>
                        <button type="button" class="btn bg-main"
                            style="padding: 0.3rem; font-size: 0.8rem; font-weight: 700;"><i
                                class="fas fa-solid fa-scroll"></i> Abstract</button>
                        <a href="https://link.springer.com/chapter/10.1007%2F978-3-030-72379-8_8" class="btn bg-main active"
                            role="button" aria-pressed="true" rel="nofollow noopener noreferrer" target="_blank"
                            style="padding: 0.3rem; font-size: 0.8rem; font-weight: 700;"><i
                                class="fas fa-solid fa-book"></i>
                            Published version</a>
                        <div class="card" style="margin-top: 0.25em; display: none;">
                            <div class="card-body" style="text-align: justify;">
                                Automatic detection of brain anomalies in MR images is challenging and complex due to
                                intensity
                                similarity
                                between lesions and healthy tissues as well as the large variability in shape, size, and
                                location
                                among
                                different anomalies. Even though discriminative models (supervised learning) are commonly
                                used for
                                this task,
                                they require quite high-quality annotated training images, which are absent for most medical
                                image
                                analysis
                                problems. Inspired by groupwise shape analysis, we adapt a recent fully unsupervised
                                supervoxel-based approach
                                (SAAD)—designed for abnormal asymmetry detection of the hemispheres—to detect brain
                                anomalies from
                                registration
                                errors. Our method, called BADRESC, extracts supervoxels inside the right and left
                                hemispheres,
                                cerebellum, and
                                brainstem, models registration errors for each supervoxel, and treats outliers as anomalies.
                                Experimental
                                results on MR-T1 brain images of stroke patients show that BADRESC outperforms a
                                convolutional-autoencoder-based
                                method and attains similar detection rates for hemispheric lesions in comparison to SAAD
                                with
                                substantially
                                fewer false positives. It also presents promising detection scores for lesions in the
                                cerebellum and
                                brainstem.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="paper-item mb-4">
        <div class="row">
            <div class="col-sm-4 d-none d-sm-block ">
                <img src="/assets/images/papers/biostec2021.png" style="width: 100%" />
            </div>
            <div class="col-sm-8">
                <div class="card" style="border: 0">
                    <div class="card-body" style="padding: 0">
                        <h5 class="card-title">Combining Registration Errors and Supervoxel Classification for Unsupervised
                            Brain
                            Anomaly Detection</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Samuel B. Martins, Alexandre X. Falcão, Alexandru C. Telea
                        </h6>
                        <p class="card-text"><i>Biomedical Engineering Systems and Technologies</i>, Springer International
                            Publishing, pp. 140–164, 2021.</p>
                        <button type="button" class="btn bg-main"
                            style="padding: 0.3rem; font-size: 0.8rem; font-weight: 700;"><i
                                class="fas fa-solid fa-scroll"></i> Abstract</button>
                        <a href="https://link.springer.com/chapter/10.1007%2F978-3-030-72379-8_8" class="btn bg-main active"
                            role="button" aria-pressed="true" rel="nofollow noopener noreferrer" target="_blank"
                            style="padding: 0.3rem; font-size: 0.8rem; font-weight: 700;"><i
                                class="fas fa-solid fa-book"></i>
                            Published version</a>
                        <div class="card" style="margin-top: 0.25em; display: none;">
                            <div class="card-body" style="text-align: justify;">
                                Automatic detection of brain anomalies in MR images is challenging and complex due to
                                intensity
                                similarity
                                between lesions and healthy tissues as well as the large variability in shape, size, and
                                location
                                among
                                different anomalies. Even though discriminative models (supervised learning) are commonly
                                used for
                                this task,
                                they require quite high-quality annotated training images, which are absent for most medical
                                image
                                analysis
                                problems. Inspired by groupwise shape analysis, we adapt a recent fully unsupervised
                                supervoxel-based approach
                                (SAAD)—designed for abnormal asymmetry detection of the hemispheres—to detect brain
                                anomalies from
                                registration
                                errors. Our method, called BADRESC, extracts supervoxels inside the right and left
                                hemispheres,
                                cerebellum, and
                                brainstem, models registration errors for each supervoxel, and treats outliers as anomalies.
                                Experimental
                                results on MR-T1 brain images of stroke patients show that BADRESC outperforms a
                                convolutional-autoencoder-based
                                method and attains similar detection rates for hemispheric lesions in comparison to SAAD
                                with
                                substantially
                                fewer false positives. It also presents promising detection scores for lesions in the
                                cerebellum and
                                brainstem.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% include about/awards.html %}
{% include about/registered_software.html %}
{% include about/other_interests.html %}









<p class="mt-5">Feel free to <a href="mailto:samuel.martins@ifsp.edu.br">send me an e-mail</a> or get in touch on my social media by clicking the badges below to see my profile.</p>
<ul class="badge-list">
    <li><a href="https://www.linkedin.com/in/samuel-botter-martins"><img
                src="https://img.shields.io/badge/-LinkedIn-306EA8?style=flat&logo=Linkedin&logoColor=white&link=https://www.linkedin.com/in/samuel-botter-martins" /></a>
    </li>
    <li><a href="https://twitter.com/hisamuka"><img
                src="https://img.shields.io/badge/-Twitter-4B9AE5?style=flat&amp;logo=Twitter&amp;logoColor=white&amp;link=https://twitter.com/hisamuka" /></a>
    </li>
    <li><a href="https://github.com/hisamuka"><img
                src="https://img.shields.io/badge/-GitHub-2F2F2F?style=flat&logo=github&logoColor=white&link=https://github.com/hisamuka" /></a>
    </li>
    <li><a href="https://www.youtube.com/xavecoding"><img
                src="https://img.shields.io/youtube/channel/subscribers/UCICVlpgW9gVd0UXbOALDFaQ?label=YouTube&style=social" /></a>
    </li>
    <li><a href="https://scholar.google.com.br/citations?user=f6Cc4nUAAAAJ&hl"><img
                src="https://img.shields.io/badge/-Google_Scholar-676767?style=flat&logo=google-scholar&logoColor=white&link=https://scholar.google.com.br/citations?user=f6Cc4nUAAAAJ&hl=en" /></a>
    </li>
</ul>
