---
layout: main
---

{% include section-begin.html id="research" title="Research" %}
<p class="mb-5">This page summarizes my research activities including publications in academic journals and conference proceedings.</p>

{% include papers.html id='papers' title='Papers' showAll=true coverClass='col-sm-12 col-md-3' coverDescription='col-sm-12 col-md-9' %}


<div id="reviews">
    <h3 class="subsection-heading color-main">Reviews <i class="bi bi-eyeglasses"></i></h3>
   
    <p style="margin-bottom: 0.5em">I have been acting as an expert reviewer at the following academic outlets:</p>
    <ul class="super-style">
        <li><i class="bi bi-chevron-right"></i> <a href="https://www.sciencedirect.com/journal/computerized-medical-imaging-and-graphics">Computerized Medical Imaging and Graphics (CMIG)</a></li>
        <li><i class="bi bi-chevron-right"></i> <a href="https://aapm.onlinelibrary.wiley.com/journal/24734209">Medical Physics</a></li>
        <li><i class="bi bi-chevron-right"></i> <a href="https://www.journals.elsevier.com/pattern-recognition">Pattern Recognition</a></li>
    </ul>
    <ul class="super-style">
        <li><i class="bi bi-chevron-right"></i> <a href="https://www.natalnet.br/sibgrapi2022/">Conference on Graphics, Patterns and Images (SIBGRAPI)</a></li>
        <li><i class="bi bi-chevron-right"></i> <a href="https://biomedicalimaging.org/2022/">IEEE International Symposium on Biomedical Imaging (ISBI)</a></li>
        <li><i class="bi bi-chevron-right"></i> <a href="http://ieeevis.org/year/2022/welcome">IEEE VIS</a></li>
    </ul>
</div>

{% include section-end.html %}

