---
layout: main
---

{% include section-begin.html id="resume" title="Resume" %}

    {% include resume/intro.html %}
    {% include resume/experience.html %}
    {% include resume/education.html %}
    {% include resume/expertise.html %}
    {% include resume/skills.html %}
    {% include papers.html id='selected-papers' title='Selected Papers' showAll=false coverClass='col-sm-12 col-md-4' coverDescription='col-sm-12 col-md-8' %}
    {% include resume/awards.html %}
    {% include resume/talks.html %}
    {% include resume/registered_software.html %}
    {% include resume/other_interests.html %}

    <!-- Footer -->
    <p class="mt-5">Feel free to <a href="mailto:{{ site.author.email }}">send me an e-mail</a> or get in touch on my social media by clicking the badges below to see my profile.</p>
    {% include badge-list.html %}


        
{% include section-end.html %}
