---
layout: main
---

{% include section-begin.html id="rug-application" title="RuG Application - Assistant Professor in Visual Computing 2023" %}
    <p>This page contains <i>additional content</i> for my application for the position of <b>Assistant Professor with education profile in Visual Computing</b> at the <i>University of Groningen</i>.</p>

    <div id="education">
        <h3 class="subsection-heading color-main" style="margin-bottom: 0.5em">Teaching Materials <i class="bi bi-mortarboard-fill"></i></h3>

        <div class="row mb-4">
            <div class="col-sm-4">
                <h4 style="font-weight: bold">Machine Learning <i class="fas fa-solid fa-robot"></i></h4>

                <b>Classes:</b>
                <ul>
                    <li>
                        <a href="https://drive.google.com/file/d/1hu6ykuk_xPWjWJ5MW5KLUPVrSGymsGBW/view?usp=sharing"   
                           rel="nofollow noopener noreferrer" target="_blank">Machine Learning Project Checklist</a>
                    </li>
                    <li>
                        <a href="https://drive.google.com/file/d/1Fy6P30vJ-QhDzQAjnzEdg1fi83sk41Mi/view?usp=sharing"
                           rel="nofollow noopener noreferrer" target="_blank">The Machine Learning Landscape</a>
                    </li>
                    <li>
                        <a href="https://drive.google.com/file/d/1Fx3EWpRrlXuZL5hEol0RdIEJscUfW6fs/view?usp=sharing"
                           rel="nofollow noopener noreferrer" target="_blank">Machine Learning concepts</a>
                    </li>
                    <li>
                        <a href="https://drive.google.com/file/d/1FtoqZQngnxx6GDuiTE8XKfTSuLzunGjd/view?usp=sharing"
                           rel="nofollow noopener noreferrer" target="_blank">Decision Trees</a>
                    </li>
                </ul>
                <p>
                    <b>Example of a Problem Set:</b> 
                    <a href="https://drive.google.com/file/d/17jf0LHRZm79xlgGT8QrhH8xES4zWP-i6/view?usp=sharing"
                       rel="nofollow noopener noreferrer" target="_blank">[link]</a></p>
                <p>
                    <b>GitHub Repository:</b> 
                    <a href="https://github.com/prof-samuka-IFSP/IFSP-CMP-D2APR-2022.2"
                       rel="nofollow noopener noreferrer" target="_blank">[link]</a></p>
                </p>
            </div>
            <div class="col-sm-4">
                <h4 style="font-weight: bold">Neural Networks <i class='bx bxs-network-chart'></i></h4>
            
                <b>Classes:</b>
                <ul>
                    <li>
                        <a href="https://drive.google.com/file/d/1-LJlhSJ_k1QfyJutA06CL_pXoKUVHhqC/view?usp=sharing"
                           rel="nofollow noopener noreferrer" target="_blank">Introduction to Neural Networks</a>
                    </li>
                    <li>
                        <a href="https://drive.google.com/file/d/1tdEilU3Ym_64_7PGC9DAe6dPoWU2IvoQ/view?usp=sharing"
                           rel="nofollow noopener noreferrer" target="_blank">Convolutional Neural Networks</a>
                    </li>
                </ul>
                <p>
                    <b>Example of a Problem Set:</b>
                    <a href="https://drive.google.com/file/d/1vUqaaj0vYXfg_p57-yki-rbCGD5DHFeH/view?usp=sharing"
                       rel="nofollow noopener noreferrer" target="_blank">[link]</a>
                </p>
                <p>
                    <b>GitHub Repository:</b>
                    <a href="https://github.com/prof-samuka-IFSP/IFSP-CMP-D3APL-2022.1" rel="nofollow noopener noreferrer"
                       target="_blank">[link]</a>
                </p>
            </div>
            <div class="col-sm-4">
                <h4 style="font-weight: bold">Statistical Analysis for Data Science <i class='bx bx-bar-chart-alt'></i></h4>
            
                <b>Classes:</b>
                <ul>
                    <li>
                        <a href="https://drive.google.com/file/d/1BWUeJoo8qeI2DroO4N24dDmCDml5kI9b/view?usp=sharing"
                           rel="nofollow noopener noreferrer" target="_blank">Introduction to Data Distributions</a>
                    </li>
                    <li>
                        <a href="https://drive.google.com/file/d/1SxZQSVnyyNMsHDt_WRA_daAp8vLBMN0C/view?usp=sharing"
                           rel="nofollow noopener noreferrer" target="_blank">Central Limit Theorem</a>
                    </li>
                    <li>
                        <a href="https://drive.google.com/file/d/1pB26PZLnORKEb5Z2Xa5cJLu8hmkVthDx/view?usp=sharing"
                           rel="nofollow noopener noreferrer" target="_blank">Bootstrap</a>
                    </li>
                </ul>
                <p>
                    <b>Example of a Problem Set:</b>
                    <a href="https://drive.google.com/file/d/1DgyoqU99A8KjelvW-xb6PE104rQEhthN/view?usp=sharing"
                       rel="nofollow noopener noreferrer" target="_blank">[link]</a>
                </p>
                <p>
                    <b>GitHub Repository:</b>
                    <a href="https://github.com/prof-samuka-IFSP/IFSP-CMP-D1AED-2022.1" rel="nofollow noopener noreferrer"
                       target="_blank">[link]</a>
                </p>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-sm-4">
                <h4 style="font-weight: bold">Data Structures (Portuguese) <i class='bx bxs-hard-hat'></i></h4>
            
                <b>Classes:</b>
                <ul>
                    <li>
                        <a href="https://drive.google.com/file/d/1pt6Q--hLwFC72h67_QpStU_Ou_Boi8d7/view?usp=sharing"
                           rel="nofollow noopener noreferrer" target="_blank">C Pointers</a>
                    </li>
                    <li>
                        <a href="https://drive.google.com/file/d/1WWJ_2UxaSRib1EfXRejX-DBCrf6aTRUd/view?usp=sharing"
                           rel="nofollow noopener noreferrer" target="_blank">Doubly Linked Lists</a>
                    </li>
                </ul>
                <p>
                    <b>GitHub Repository:</b>
                    <a href="https://github.com/xavecoding/dominando-estruturas-de-dados-1" rel="nofollow noopener noreferrer"
                       target="_blank">[link]</a>
                </p>
                <p><b>NB:</b>
                    This course is <i>entirely</i> in <b>Brazilian Portuguese</b>.<br/>It is also available on <a href="https://www.youtube.com/playlist?list=PL3ZslI15yo2r-gHJtjORRMRKMSNRpf7u5" rel="nofollow noopener noreferrer"
                    target="_blank">YouTube</a>.
                </p>
            </div>
        </div>


{% include section-end.html %}
