<footer class="mt-auto border-top">
    <div class="container">
        <div class="d-flex flex-wrap justify-content-between align-items-center py-4">
            <div class="col-md-8 d-flex align-items-center">
                <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
                    <img src="/assets/images/samuka-logo.png" class="d-inline-block align-center logo" alt="website logo">
                    <span class="text-muted">© 2022 Samuel Martins' Logbook.</span>
                </a>
            </div>
            <ul class="nav col-md-4 justify-content-end list-unstyled d-flex social-links">
                {% for item in site.author.links %}
                    {% if item.show_sidebar %}
                        <li><a href="{{ item.url }}" rel="nofollow noopener noreferrer" target="_blank" alt="{{item.label}}">{{ item.icon }}</a></li>
                    {% endif %}
                {% endfor %}
                
                <li><a href="mailto:{{ site.author.email }}" rel="nofollow noopener noreferrer" alt="rss"><i class="bi bi-envelope-fill"></i></a></li>
                <li><a href="/feed.xml" rel="nofollow noopener noreferrer" target="_blank" alt="rss"><i class="fas fa-fw fa-rss-square" aria-hidden="true"></i></a></li>
            </ul>
        </div>
    </div>
</footer>


