<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container">
        <a class="navbar-brand site-title" href="/">
            <img src="/assets/images/samuka-logo.png" class="d-inline-block align-center logo" alt="website logo">
            Samuel Martins' Logbook
        </a>
        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto">
                <a href="/about" class="nav-item nav-link" id="navbar-about">About</a>
                <a href="#" class="nav-item nav-link">Posts</a>
                <a href="#" class="nav-item nav-link">Research</a>
                <a href="#" class="nav-item nav-link">Teaching</a>
                <a href="#" class="nav-item nav-link">Archive</a>
            </div>
        </div>
    </div>
</nav>
