---
---

body {
    color: #3d4144;
}

.navbar {
    padding: 1em;
    border-bottom: 1px solid #f2f3f3;
}

.navbar-brand, .navbar-nav {
    font-size: 1.3rem;

    img {
        max-height: 30px;
    }
}

.site-title {
    // color: #4d91de !important;
    font-weight: bold;
}

ul.no-bullets {
    list-style-type: none; /* Remove bullets */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margins */
}

.bio {
    border: 0;

    figure {
        margin: 0;
    }

    a {
        text-decoration: none;
        color: inherit;
    }

    .avatar {
        max-width: 150px;
        border-radius: 50%;
        border: 1px solid #f2f3f3;
        padding: 5px;
    }

    li {
        margin-bottom: 0.5em;
    }
}


.fa-twitter-square {
    color: #55acee;
}

.fa-github, .fa-github-alt, .fa-github-square {
    color: #171516;
}

.fa-youtube {
    color: #ff0000;
}
