<div id="awards" class="mt-5">
    <h4 class="subsection-heading color-main">Awards <i class="fa-solid fa-medal"></i></h4>

    {% for item in site.data.awards %}
        <div class="award-item mb-4">
            <ul>
                <li><b>{{ item.award }} <span class="badge badge-inverted">{{ item.year }}</span></b></li>
                <li><i>{{ item.issuer }}</i>, {{ item.location }}</li>
                <li>{{ item.work }}</li>
            </ul>
            {% if item.paper %}
                <a href="{{ item.paper }}" class="btn bg-main active" role="button" aria-pressed="true" rel="nofollow noopener noreferrer" target="_blank" style="padding: 0.3rem; font-size: 0.8rem; font-weight: 700;"><i class="fas fa-solid fa-file-pdf"></i> Paper</a>
            {% endif %}
            {% if item.certificate %}
                <a href="{{ item.certificate }}" class="btn bg-main active" role="button" aria-pressed="true" rel="nofollow noopener noreferrer" target="_blank" style="padding: 0.3rem; font-size: 0.8rem; font-weight: 700;"><i class="bi bi-award-fill"></i> Certificate</a>
            {% endif %}
        </div>
    {% endfor %}
</div>
