<div id="education">
    <h3 class="subsection-heading color-main">Education <i class="bi bi-mortarboard-fill"></i></h3>
    <div class="row">
        <div class="col-sm-12">
            <ul class="timeline">
                <li class="timeline-item"">
                    <div class=" timeline-date">03/2015 – 11/2020 <span class="time"></span></div>
                    <h5 class="timeline-title">Ph.D. in Computer Science (double degree)</h5>
                    <h6 class="timeline-subtitle">University of Campinas (Brazil) & University of Groningen (Netherlands)</h6>
                    <p>Research on <b>Machine Learning</b> for <b>Medical Image Analysis</b>. <a href="/assets/docs/phd-thesis-samuel-botter-martins.pdf" rel="nofollow noopener noreferrer" target="_blank" class="badge badge-main">Ph.D. thesis</a></p>
                    <ul>
                        <li>Designed <b>automatic unsupervised solutions</b> to detect brain anomalies in MR images.</li>
                        <ul>
                            <li>Combination of image processing (<i>e.g.,</i> superpixels) and one-class classification (OC-SVM).</li>
                            <li>High anomaly detection rates (86%+) on stroke images with a reduction by up 20x false positives.</li>
                        </ul>
                        <li>Developed a <b>deep-learning-based approach</b> to detect <i>abnormal hippocampi</i> from epilepsy patients.</li>
                        <ul>
                            <li>Detection accuracies from 86% to 100% (in some specific scenarios).</li>
                            <li>Applied <b>visual analytics</b> to understand the model and results, improving accuracy by up 13%.</li>
                        </ul>
                        <li>Proposed an automatic method based on <i>statistical learning</i> (probabilistic models and texture classifications) for <b>anomalous brain image segmentation</b> - reduced <i>segmentation errors</i> by up 15%.</li>
                    </ul>
                </li>
                <li class="timeline-item"">
                    <div class=" timeline-date">03/2013 – 02/2015 <span class="time"></span></div>
                    <h5 class="timeline-title">M.Sc. in Computer Science</h5>
                    <h6 class="timeline-subtitle">University of Campinas (Brazil)</h6>
                    <p>Research on <b>Machine Learning for Face Recognition and Negative Mining.</b> <a href="https://repositorio.unicamp.br/Busca/Download?codigoArquivo=489735" rel="nofollow noopener noreferrer" target="_blank" class="badge badge-main">Dissertation</a></p>
                    <ul>
                        <li>Investigated state-of-the-art <b>deep features for face recognition</b> in <i>unconstrained scenarios</i>.</li>
                        <li>Designed an <i>SVM-based method</i> that mines informative negative samples within interactive times.</li>
                    </ul>
                </li>
                <li class="timeline-item"">
                    <div class=" timeline-date">03/2008 – 12/2012 <span class="time"></span></div>
                    <h5 class="timeline-title">B.Sc. in Computer Science</h5>
                    <h6 class="timeline-subtitle">University of São Paulo (Brazil)</h6>
                </li>
            </ul>
        </div>
    </div>
</div>
