<div id="intro">
    <div  class="row">
        <div class="col-sm-12">

            <p><b>Hi, I am Samuel Botter Martins (Samuka)</b> <a href="{{ site.author.resume }}" rel="nofollow noopener noreferrer" target="_blank" class="badge badge-main">Resume in pdf</a></b></p>
            <p>I am a <b>senior data science</b> and an <b>adjunct professor</b> of Computer Science and Data Science with more than 7 years of experience. I have a theoretical background and practical experience designing innovative machine learning solutions for various applications, such as computer vision, medical image analysis, and Cheminformatics. In recent years, I have successfully supervised over 20 students on research data science projects and published impactful work in relevant conferences and journals.</p>
            
            <p>
                My excellent communication skills, cultivated as a radio broadcaster, teacher, and YouTube creator (tech channel with 300k+ views), enable me to simplify complex concepts and effectively engage diverse audiences. I am driven to make a positive impact by designing cutting-edge data science solutions and am excited to explore new opportunities and collaborations.
            </p>
            
            
            <p>Let's connect and see how I can bring my experience, skills, and unique perspective to your organization.</p>
            <!-- <p>I am a skilled <b>machine learning professional</b> with a solid theoretical background and practical experience who has been designing ML solutions for different areas, <i>especially medical image analysis</i> and <i>computational vision</i>. I have <i>strong communication skills</i> with experience as a lecturer, YouTube creator, and radio broadcaster.</p> -->

            <p style="margin-bottom: 0.5em">My <b>research interests</b> are:</p>
            <ul class="super-style">
                <li><i class="bi bi-chevron-right"></i> <span>machine learning</span></li>
                <li><i class="bi bi-chevron-right"></i> <span>deep learning</span></li>
                <li><i class="bi bi-chevron-right"></i> <span>(medical) image processing and analysis</span>
                </li>
                <li><i class="bi bi-chevron-right"></i> <span>computer vision</span></li>
                <li><i class="bi bi-chevron-right"></i> <span>visual analytics</span></li>
            </ul>
        </div>
    </div>
</div>
