<div id="intro">
    <div  class="row">
        <div class="col-sm-12">

            <p><b>Hi, I am Samuel Botter Martins (Samuka)</b> <a href="/assets/docs/resume-samuel-botter-martins.pdf" rel="nofollow noopener noreferrer" target="_blank" class="badge badge-main">Resumé in pdf</a></b></p>
            <p>I am a skilled <b>machine learning professional</b> with a solid theoretical background and practical experience who has been designing ML solutions for different areas, <i>especially medical image analysis</i> and <i>computational vision</i>. I have <i>strong communication skills</i> with experience as a lecturer, YouTube creator, and radio broadcaster.</p>

            <p style="margin-bottom: 0.5em">My <b>research interests</b> are:</p>
            <ul class="super-style">
                <li><i class="bi bi-chevron-right"></i> <span>machine learning</span></li>
                <li><i class="bi bi-chevron-right"></i> <span>deep learning</span></li>
                <li><i class="bi bi-chevron-right"></i> <span>(medical) image processing and analysis</span>
                </li>
                <li><i class="bi bi-chevron-right"></i> <span>computer vision</span></li>
                <li><i class="bi bi-chevron-right"></i> <span>visual analytics</span></li>
            </ul>
        </div>
    </div>
</div>
