<div id="registered-software" class="mt-5">
    <h3 class="subsection-heading color-main mt-5">Registered Software <i class="fa-solid fa-rocket"></i></h3>
    <div class="software-item mb-4">
        <ul>
            <li><b>SaMI - Plataforma Inteligente Voltada à Saúde Materno Infantil</b></li>
            <li>Intelligent Platform for Maternal and Child Health.</li>
        </ul>
        <a href="/assets/docs/software/sami.pdf" class="btn bg-main active" role="button" aria-pressed="true" rel="nofollow noopener noreferrer" target="_blank" style="padding: 0.3rem; font-size: 0.8rem; font-weight: 700;"><i class="bi bi-award-fill"></i> Certificate</a>
    </div>
</div>
