---
layout: main
---

{% include section-begin.html id="blog" title="Blog" %}
    <p>This blog aims to share a bit of my knowledge about technical subjects on machine learning, deep learning, and computing. Sometimes a technical deep dive or a soft skills piece. My posts may also include personal thoughts and reflections on life and career.</p>
    <p class="mb-4">Don't want to miss a thing? Follow me on <a href="https://twitter.com/{{ site.author.twitter }}" rel="nofollow noopener noreferrer" target="_blank" alt="twitter link">Twitter</a> or subscribe to my <a href="/feed.xml" rel="nofollow noopener noreferrer" target="_blank" alt="RSS feed link">RSS feed</a> to see new blog posts.</p>
   
    <div id="tags" class="mb-3">
        <h4>Tags <i class="fas fa-tags" style="font-size: 1rem"></i></h4>

        {% assign sorted_tags = site.tags | sort %}
        {% for tag_object in sorted_tags %}
            {% assign tag = tag_object[0] %}
            <span class="tag-item">
                <a href="/tags/{{ tag }}" rel="nofollow noopener noreferrer">{{ tag }}</a>
            </span>
        {% endfor %}
    </div>

    <div id="post-search-container" class="d-flex flex-column mb-3">
        <div class="input-group">
            <input type="text" id="post-search-input" class="form-control" placeholder="Filter posts" aria-label="Filter posts">
        </div>
        <div id="post-search-results" class="form-text mt-2"></div>
    </div>
    
    <div id="filtered-posts">
    </div>
    
    <div id="posts">
        {% if paginator.posts.size > 0 %}
            {% assign firstPost = paginator.posts | first %}
            {% include post/horizontal_card.html post=firstPost %}

            <div class="row mt-5 post-list">
                {% for post in paginator.posts offset:1 %}
                    {% include post/card.html post=post cssClass="col-sm-6 col-md-4 mb-3" %}
                {% endfor %}
            </div>

            {% include pagination.html %}
        {% endif %}
    </div>


{% include section-end.html %}
