<div id="skills">
    <h4 class="subsection-heading color-main">Skills <i class="fa-solid fa-crosshairs"></i></h4>

    <div class="about-item">
    {% for item in site.data.skills %}
        {% assign half_size = item.skills.size | plus: 1 | divided_by: 2 %}
        <div class="row">
            <div class="col-sm-2">
                <b>{{ item.type }}</b>
            </div>
            <div class="col-sm-5">
                <ul>
                {% for skill in item.skills limit:half_size %}
                    <li>{{ skill.icon }} {{ skill.name }}</li>
                {% endfor %}
                </ul>
            </div>
            <div class="col-sm-5">
                <ul>
                {% for skill in item.skills offset:half_size %}
                    <li>{{ skill.icon }} {{ skill.name }}</li>
                {% endfor %}
                </ul>
            </div>
        </div>
    {% endfor %}
    </div>
</div>
