<div id="selected-papers">
    <h4 class="subsection-heading color-main">Selected Papers <i class="bi bi-newspaper"></i></h4>

    {% for item in site.data.selected_papers %}
        {% assign paper_idx = forloop.index %}
        <div class="paper-item mb-4">
            <div class="row">
                <div class="col-sm-4 d-none d-sm-block ">
                    <img src="{{ item.cover }}" style="width: 100%" />
                </div>
                <div class="col-sm-8">
                    <div class="card" style="border: 0">
                        <div class="card-body" style="padding: 0">
                            <h5 class="card-title">{{ item.paper }}</h5>
                            <h6 class="card-subtitle mb-2 text-muted">{{ item.authors }}</h6>
                            <p class="card-text">{{ item.reference }}</p>
                            <button type="button" class="btn bg-main" style="padding: 0.3rem; font-size: 0.8rem; font-weight: 700;" data-bs-toggle="collapse" data-bs-target="#paper-{{paper_idx}}" aria-expanded="false" aria-controls="paper-{{paper_idx}}"><i
                                    class="fas fa-solid fa-scroll"></i> Abstract</button>
                            <a href="{{ item.link }}" class="btn bg-main active"
                                role="button" aria-pressed="true" rel="nofollow noopener noreferrer" target="_blank"
                                style="padding: 0.3rem; font-size: 0.8rem; font-weight: 700;"><i
                                    class="fas fa-solid fa-book"></i>
                                Published version</a>
                            <div class="collapse" id="paper-{{paper_idx}}">
                                <div class="card" style="margin-top: 0.7em;">
                                    <div class="card-body" style="text-align: justify;">
                                        {{ item.abstract }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
