<hr />
<div class="row">
    <div class="col-md-6 offset-md-3 col-sm-12">
        <div class="row">
            <div class="col-2">
                <a href="/"><img src="/assets/images/bio-photo.png" alt="bio photo"
                        class="img-fluid rounded-circle"></a>
            </div>
            <div class="col-10">
                <h4>Samuel Botter Martins</h4>
                <p>Assistant professor, data scientist, researcher, and YouTube creator.</p>
                <p>Read more about me on the <a href='/#about' rel="nofollow noopener noreferrer" target="_blank" alt="link for about">about page</a><br/>
                   Subscribe to my <a href="/feed.xml" rel="nofollow noopener noreferrer" target="_blank" alt="RSS feed link">RSS feed</a> to see new blog posts.
                </p>
                {% include badge-list.html %}
            </div>
        </div>
    </div>
</div>