<header class="col-12">
    <h1 class="post-title">{{ page.title }}</h1>
    <span class="post-subtitle">{{ page.subtitle }}</span>
    <p class="post-meta">
        <span class="post-date">
            <i class="fa fa-calendar" aria-hidden="true"></i>
            {{ page.date | date_to_string }}
        </span>
        <span class="post-author">
            <b>{{ page.author.name | default: site.author.name }}</b>
        </span>
        <span class="post-estimated-reading-time">
            {% assign estimated_reading_time = content | number_of_words | divided_by: site.words_per_minute | round %}
            {{ estimated_reading_time }} min read
        </span>
    </p>
    {% if page.tags.size > 0 %}
        <p class="post-tags">
            <i class="fas fa-tags"></i>

            {% assign sorted_tags = page.tags | sort %}
            {% for tag in sorted_tags %}
                <span class="tag-item">
                    <a href="/tags/{{ tag }}" rel="nofollow noopener noreferrer">{{ tag }}</a>
                </span>
            {% endfor %}
        </p>
    {% endif %}
    {% if page.print_last_modified_date %}
        <p><b>Last update:</b> {{ page.last-modified-date | date_to_string }}</p>
    {% endif %}
    <div class="post-share">
        Share:
        <a href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ site.baseurl }}{{ page.url }}"
           onclick="window.open(this.href, 'pop-up', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;"
           title="Share on Twitter" rel="nofollow noopener noreferrer"><i class="fab fa-fw fa-twitter-square" aria-hidden="true"></i></a>
        <a href="https://www.linkedin.com/sharing/share-offsite/?url={{ site.url }}{{ site.baseurl }}{{ page.url }}"
           onclick="window.open(this.href, 'pop-up', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;"
           title="Share on Linkedin" rel="nofollow noopener noreferrer"><i class="fab fa-fw fa-linkedin" aria-hidden="true"></i></a>
        <a href="https://www.facebook.com/sharer.php?u={{ site.url }}{{ site.baseurl }}{{ page.url }}&title={{ page.title }}" 
           onclick="window.open(this.href, 'pop-up', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;"
           title="Share on Facebook" rel="nofollow noopener noreferrer"><i class="fab fa-fw fa-facebook-square" aria-hidden="true"></i></a>
        <span style="cursor: pointer"
           onclick="navigator.clipboard.writeText(window.location.href);"
           data-bs-container="body" data-bs-toggle="popover"
           data-bs-placement="right" data-bs-content="Link copied!">
           <i class="bi bi-link-45deg"></i>
        </span>
    </div>
</header>
