
{% assign thumbnail = site.default_post_thumbnail %}

{% if include.post.thumbnail %}
    {% assign thumbnail = include.post.thumbnail %}
{% elsif include.post.image %}
    {% assign thumbnail = include.post.image %}
{% endif %}

{% assign estimated_reading_time = include.post.content | number_of_words | divided_by: site.words_per_minute | round %}

<div class="col-12 horizontal-post-card card">
    <div class="row">
        <div class="col-md-6 col-sm-12 mb-3">
            <img src="{{ thumbnail }}" alt="Post cover">
        </div>
        <div class="content col-md-6 col-sm-12 d-flex flex-column align-self-center">
            <h4 class="mb-3"><b>{{ include.post.title }}</b></h4>
            <h6 class="mb-2 text-muted">
                <i class="far fa-fw fa-calendar-alt" aria-hidden="true"></i><time datetime="{{ include.post.date }}">{{
                    include.post.date | date_to_string }}<time> •
                        {{ estimated_reading_time }} min read
            </h6>

            {% if include.post.tags.size > 0 %}
            <h6 class="text-muted">
                <i class="fas fa-tags"></i>

                {% for tag in include.post.tags %}
                    <span class="tag-item">{{ tag }}</span>
                {% endfor %}
            </h6>
            {% endif %}
            <p class="card-text mt-3">{{ include.post.content | markdownify | strip_html | truncatewords: 30 }}</p>
            <a href="{{ include.post.url }}" class="stretched-link"></a>
        </div>
    </div>
</div>
