---
layout: main
---



<section id="hero" class="d-flex flex-column ">
    <div class="container aos-init aos-animate hero-text" data-aos="zoom-in" data-aos-delay="100">
        <h1>Samuel Martins (Samuka)</h1>
        <p>I'm a <span class="typed" data-typed-items="Professor, Data Scientist, Researcher, YouTube Creator"></span></p>

        <div class="social-links">
            <!-- <div class="social-networks">
                <ul class="list-unstyled">
                    {% for item in site.social_networks %}
                    {% if item.show_sidebar %}
                    <li><a href="{{ item.link }}" rel="nofollow noopener noreferrer">{{ item.icon }}</a></li>
                    {% endif %}
                    {% endfor %}
                    <li><a href="mailto:{{ site.email }}" rel="nofollow noopener noreferrer"><i
                        class="bi bi-envelope-fill"></i></a></li>
                    </ul>
                </div> -->
                
            {% for item in site.social_networks %}
                {% if item.show_sidebar %}
                    <a href="{{ item.link }}" rel="nofollow noopener noreferrer">{{ item.icon }}</a>
                {% endif %}
            {% endfor %}
            <a href="mailto:{{ site.email }}" rel="nofollow noopener noreferrer"><i class="bi bi-envelope-fill"></i></a></li>
        </div>
</section>

<main id="main" style="margin-left: 17em; height: 100vh;">
    <section id="about">
        <div class="container">
            <h3 class="section-heading">About</h3>
            
            <div id="intro">
                <div class="row">
                    <div class="col-sm-12">
                        <img class="float-md-end float-figure" src="/assets/images/brussels.png" />

                        <p><b>Hi, I am Samuel B. Martins (Samuka)</b> <a href="/assets/docs/resume-samuel-botter-martins.pdf"
                                rel="nofollow noopener noreferrer" target="_blank" class="badge badge-main">Resumé in
                                pdf</a><br />
                            Assistant professor, data scientist, researcher, and YouTube creator.</p>

                        <p>I am a skilled <b>machine learning professional</b> with a solid theoretical background and practical
                            experience who has been designing ML solutions for different areas, <i>especially medical image
                                analysis</i> and <i>computational vision</i>. I have <i>strong communication skills</i> with
                            experience as a lecturer, YouTube creator, and radio broadcaster.</p>

                        <p style="margin: 0">My <b>research interests</b> are:</p>
                        <ul>
                            <li>machine learning</li>
                            <li>deep learning</li>
                            <li>(medical) image processing and analysis</li>
                            <li>computer vision</li>
                            <li>visual analytics</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

</main>
