---
layout: default
---

<article class="card">
    <div class="card-body">
        <h2 class="section-heading">Hi, I am Samuel B. Martins (Samuka), Ph.D.</h2>    

        <p>I am an assistant professor, data scientist, researcher, and YouTube creator. I am an enthusiast about machine learning and data science to improve decision-making. I have a solid theoretical background and practical experience developing ML solutions for many areas, especially (medical) image applications.</p>
        
        <p>My recent projects focus on designing ML/DL models for (medical) image analysis in different contexts – such as automatic detection of brain anomalies – and applying visual analytics techniques to understand how these models work.</p>

        <p>My YouTube channel, <a href="https://youtube.com/xavecoding" target="_blank" rel="nofollow noopener noreferrer">xavecoding</a>, is dedicated to producing courses and tutorials on ML and computer science (programming, data structures, web development, ...). <i>The channel is aimed at Portuguese speakers.</i></p>

        My <b>research interests</b> are:
        <ul>
            <li>machine learning</li>
            <li>deep learning</li>
            <li>medical image applications</li>
            <li>computational vision</li>
            <li>visual analytics</li>
            <li>explainable artifical intelligence</li>
        </ul>

        <h3 class='subsection-heading'>About this website</h3>
        <p>This website works as my <i>logbook</i>. It hosts my blog – where I share tutorials on different topics – research project findings, portfolio, teaching notes, and other general stuff.</p>

        <p>Please note that all content on this website is solely mine and does not express the views or opinions of my employer.</p>

        <h3 class='subsection-heading'>Contact me</h3>
        <p>Would you like to contact me? Feel free to <a href="mailto:samuel.martins@ifsp.edu.br">send me an e-mail</a>.</p> 

        <p>Alternatively, get in touch with me on social media by clicking the badges below to see my profile.</p>
        <ul class="badge-list">
            <li><a href="https://www.linkedin.com/in/samuel-botter-martins"><img src="https://img.shields.io/badge/-LinkedIn-306EA8?style=flat&logo=Linkedin&logoColor=white&link=https://www.linkedin.com/in/samuel-botter-martins" /></a></li>
            <li><a href="https://twitter.com/hisamuka"><img src="https://img.shields.io/badge/-Twitter-4B9AE5?style=flat&amp;logo=Twitter&amp;logoColor=white&amp;link=https://twitter.com/hisamuka" /></a></li>
            <li><a href="https://github.com/hisamuka"><img src="https://img.shields.io/badge/-GitHub-2F2F2F?style=flat&logo=github&logoColor=white&link=https://github.com/hisamuka" /></a></li>
            <li><a href="https://www.youtube.com/xavecoding"><img src="https://img.shields.io/youtube/channel/subscribers/UCICVlpgW9gVd0UXbOALDFaQ?label=YouTube&style=social" /></a></li>
            <li><a href="https://scholar.google.com.br/citations?user=f6Cc4nUAAAAJ&hl"><img src="https://img.shields.io/badge/-Google_Scholar-676767?style=flat&logo=google-scholar&logoColor=white&link=https://scholar.google.com.br/citations?user=f6Cc4nUAAAAJ&hl=en" /></a></li>
            </div>
        </ul>
    </div>
</article>
