---
layout: main
---



<section id="hero" class="d-flex flex-column ">
    <div class="container aos-init aos-animate hero-text" data-aos="zoom-in" data-aos-delay="100">
        <h1>Samuel Martins (Samuka)</h1>
        <p>I'm a <span class="typed" data-typed-items="Professor, Data Scientist, Researcher, YouTube Creator"></span></p>

        <div class="social-links">
            <!-- <div class="social-networks">
                <ul class="list-unstyled">
                    {% for item in site.social_networks %}
                    {% if item.show_sidebar %}
                    <li><a href="{{ item.link }}" rel="nofollow noopener noreferrer">{{ item.icon }}</a></li>
                    {% endif %}
                    {% endfor %}
                    <li><a href="mailto:{{ site.email }}" rel="nofollow noopener noreferrer"><i
                        class="bi bi-envelope-fill"></i></a></li>
                    </ul>
                </div> -->
                
            {% for item in site.social_networks %}
                {% if item.show_sidebar %}
                    <a href="{{ item.link }}" rel="nofollow noopener noreferrer">{{ item.icon }}</a>
                {% endif %}
            {% endfor %}
            <a href="mailto:{{ site.email }}" rel="nofollow noopener noreferrer"><i class="bi bi-envelope-fill"></i></a></li>
        </div>
    </div>
</section>

<main id="main" style="margin-left: 17em; height: 100vh;">
    <section id="about">
        <div class="container">
            <div class="section-title">
                <h2>About</h2>
            </div>
            
            <div id="intro">
                <div class="row">
                    <div class="col-lg-4">
                        <!-- <img class="img-fluid" src="/assets/images/brussels_square.png" /> -->
                        <img class="img-fluid" src="/assets/images/malta.png" />
                        <!-- <img class="img-fluid" src="/assets/images/malta2.png" /> -->
                    </div>
                    <div class="col-lg-8">
                        <p>I am an assistant professor, data scientist, researcher, and YouTube creator.</p>
                        <p>I am an enthusiast about <b>machine learning</b> and <b>data science</b> to improve decision-making. I have a solid theoretical background and practical experience developing ML solutions for many areas, especially (medical) image applications.</p>
                        
                        <p>My recent projects focus on designing <b>ML/DL models</b> for <i>(medical) image analysis</i> in different problems and applying <b>visual analytics</b> techniques to understand how these models work.</p>
                        
                        <p>This website works as my <b>logbook</b>, hosting <a href="/posts" rel="nofollow noopener noreferrer" target="_blank">my blog</a> – where I share tutorials on different topics – research project findings, portfolio, teaching notes, readings, and other general stuff.</p>
                        
                        <p style="margin: 0">My <b>research interests</b> are:</p>
                        <ul class="super-style">
                            <li><i class="bi bi-chevron-right"></i> <span>machine learning</span></li>
                            <li><i class="bi bi-chevron-right"></i> <span>deep learning</span></li>
                            <li><i class="bi bi-chevron-right"></i> <span>(medical) image processing and analysis</span></li>
                            <li><i class="bi bi-chevron-right"></i> <span>computer vision</span></li>
                            <li><i class="bi bi-chevron-right"></i> <span>visual analytics</span></li>
                        </ul>

                        <p>Check out my <a href="/assets/docs/resume-samuel-botter-martins.pdf" rel="nofollow noopener noreferrer" target="_blank" class="badge badge-main"><b>resumé</b></a> and other pages to see more of my work.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

</main>
