---
layout: main
---

<section class="post container">
    <div class="row">
        <header class="col-12">
            <h1 class="post-title">{{ page.title }}</h1>
            <span class="post-subtitle">{{ page.subtitle }}</span>
            <p class="post-meta">
                <span class="post-date">
                    <i class="fa fa-calendar" aria-hidden="true"></i>
                    {{ page.date | date_to_string }}
                </span>
                <span class="post-author">
                    <b>{{ page.author }}</b>
                </span>
                <span class="post-estimated-reading-time">
                    {% assign estimated_time = content | number_of_words | divided_by: 200.0 | round %}
                    {{ estimated_time }} min read
                </span>
            </p>
            {% if page.tags.size > 0 %}
                <p class="post-tags">
                    <i class="fas fa-tags"></i>

                    {% for tag in page.tags %}
                        <span class="tag-item">{{ tag }}</span>
                    {% endfor %}
                </p>
            {% endif %}
        </header>
        <div class="post-cover d-flex justify-content-center mb-5">
            <img alt='cover image' src="{{ page.cover }}" />
        </div>

        <div class="post-content">
            {{ content }}
        </div>
    </div>
</section>

