<section id="hero" class="d-flex flex-column">
    <div class="container"></div>
    <div class="container aos-init aos-animate hero-text" data-aos="zoom-in" data-aos-delay="100">
        <h1>Samuel Martins (Samuka)</h1>
        <p>I'm a <span class="typed" data-typed-items="Professor, Data Scientist, Researcher, YouTube Creator"></span>
        </p>

        <div class="hero-social-links">
            {% for item in site.author.links %}
                {% if item.show_sidebar %}
                    <a href="{{ item.url }}" rel="nofollow noopener noreferrer">{{ item.icon }}</a>
                {% endif %}
            {% endfor %}
            <a href="mailto:{{ site.author.email }}" rel="nofollow noopener noreferrer"><i class="bi bi-envelope-fill"></i></a>
            </li>
        </div>
    </div>
    <div class="container">
        <div class="d-flex justify-content-center">
            <a href="#about" class="scroll"></a>
        </div>
    </div>
</section>
